<div class="row">
    <div class="col-lg-3 col-lg-offset-4">
        <h1 class="text-center">Авторизация</h1>

        <form class="form-horizontal" role="form" name="form" ng-submit="login()" novalidate>
            <div class="form-group" ng-class="{ 'has-error': form.uName.$dirty && form.uName.$invalid, 'has-success': form.uName.$dirty && !form.uName.$invalid }">
                <label for="inputEmail" class="col-sm-2 control-label">Логин</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Логин" ng-model="user.username" name="uName" required>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.uPassword.$dirty && form.uPassword.$invalid, 'has-success': form.uPassword.$dirty && !form.uPassword.$invalid }">
                <label for="inputPassword" class="col-sm-2 control-label">Пароль</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Пароль" ng-model="user.password" name="uPassword" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Войти</button>
                </div>
            </div>
        </form>

        <div class="alert alert-danger" ng-show="error === 'user not found'">Ошибка, пользователь не найден</div>
        <div class="alert alert-danger" ng-show="error === 'auth failed'">Ошибка, пароль не верный</div>
    </div>
</div>