<div bindonce bo-class="state.current.name | stateClass" class="units-row">
    <div class="unit-80 unit-centered" bindonce bo-if="token">
        <h1>Админка</h1>
        <nav class="nav-tabs">
            <ul>
                <li bindonce>
                    <a ui-sref="admin.posts.list" bo-if="!state.includes('admin.posts')">Записи</a>
                    <span bo-if="state.includes('admin.posts')">Записи</span>
                </li>
                <li bindonce>
                    <a ui-sref="admin.users.list" bo-if="!state.includes('admin.users')">Пользователи</a>
                    <span bo-if="state.includes('admin.users')">Пользователи</span>
                </li>
            </ul>
        </nav>
    </div>

    <div class="unit-80 unit-centered" ui-view></div>
</div>