<div class="row">
    <div class="col-lg-12">
        <form role="form">
            <div class="form-group">
                <label for="postTitle">Название</label>
                <input type="text" class="form-control" id="postTitle" placeholder="Название">
            </div>

            <div class="form-group">
                <label for="postShortText">Краткий текст</label>
                <textarea clas="form-control" id="postShortText" lepture></textarea>
            </div>

            <div class="form-group">
                <label for="postFullText">Текст</label>
                <textarea clas="form-control" id="postFullText" lepture></textarea>
            </div>

            <div class="form-group">
                <label>
                    <input type="checkbox"> Черновик
                </label>
            </div>

            <hr/>

            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="submit" class="btn btn-success">Опубликовать</button>
        </form>
    </div>
</div>
