<div ng-class="state.current.name | stateClass" class="container-fluid">
    <nav class="navbar navbar-default" role="navigation" ng-if="token">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="admin.posts.list">Панель управления</a>
            </div>

            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="admin.posts.list"><i class="fa fa-list-alt"></i> Записи</a></li>
                <li ui-sref-active="active"><a ui-sref="admin.users.list"><i class="fa fa-users"></i> Пользователи</a></li>
            </ul>

            <button class="btn navbar-btn btn-default pull-right" ng-click="logout()"><i class="fa fa-sign-out"></i> Выйти</button>
        </div>
    </nav>

    <div class="col-lg-12" ui-view></div>
</div>