<ul class="subfooter">
    <li class="first">
        <a ui-sref="blog"><i class="fa fa-file-text-o"></i><span>Блог</span></a>
    </li>
    <li>
        <a ui-sref="portfolio"><i class="fa fa-briefcase"></i><span>Портфолио</span></a>
    </li>
    <li class="last">
        <a ui-sref="contact"><i class="fa fa-envelope"></i><span>Контакты</span></a>
    </li>
</ul>

<footer class="row">
    <div class="col-d-1-5 blog-nav">
        <button type="button" class="up" ng-click="goAnchor('top')"><i class="fa fa-arrow-up"></i></button>
        <a ui-sref="archive"><i class="fa fa-calendar"></i><span>Архив</span></a>
    </div>
    <div class="col-d-3-5 menu">
        <menu >
            <li class="first">
                <a ui-sref="blog"><i class="fa fa-file-text-o"></i><span>Блог</span></a>
            </li>
            <li>|</li>
            <li>
                <a ui-sref="portfolio"><i class="fa fa-briefcase"></i><span>Портфолио</span></a>
            </li>
            <li>|</li>
            <li class="last">
                <a ui-sref="contact"><i class="fa fa-envelope"></i><span>Контакты</span></a>
            </li>
        </menu>
    </div>
    <div class="col-d-1-5 col-t-5-5 col-p-5-5 copyrights">© Борис Рябов</div>
</footer>